<br>

<br>
<div class="row">
    <div class="col-sm-6 mb-3 mb-sm-0">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Student</h5>
          <p class="card-text">Here you can enter new students, edit existing student or even delete them.</p>
          <a routerLink="/students" routerLinkActive="act" class="btn btn-primary" id="btn">Go to Student</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Department</h5>
          <p class="card-text">Here you can insert your departments, update it or even remove them.</p>
          <a routerLink="/departments" routerLinkActive="act" class="btn btn-primary" id="btn">Go to Department</a>
        </div>
      </div>
    </div>
  </div>



  